@model string

@if (!String.IsNullOrEmpty(Model))
{
    <div class="identity-container">
        <section>
            <h2>Confirm email</h2>
            <hr/>
            <div class="form-group margin-top-20">
                @Model
            </div>
            <div>
                <button type="button" class="" aria-label="Close">Close</button>
            </div>
        </section>
    </div>
}