@page
@model ForgotPasswordModel


<div class="identity-container">
    <div class="">
        <h2>Enter your email</h2>
        <form method="post">
            <div class="form-group margin-top-20">
                <input asp-for="Input.Email" class="" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            </div>
            <button type="submit" class="">Reset Password</button>
        </form>
    </div>
</div>

