@page
@model ResendEmailConfirmationModel

<div class="identity-container">
    <div class="">
        <h2>Enter your email.</h2>
        <hr />
        <form method="post">
            <div class="form-group margin-top-20">
                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
            </div>
            <button type="submit" class="">Resend</button>
        </form>
    </div>
</div>

