<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="manifest" href="~/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0"/>
    <meta name="theme-color" content="#000000">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta property="og:title" content="Atomic Goons"/>
    <meta property="og:description" content="Atomic Goons"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://">
    <meta property="og:url" content="https://atomicgoons.com"/>
    <link rel="icon" href="~/images/touch-icon-iphone.png"/>
    <link rel="apple-touch-icon" sizes="128x128" href="~/images/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="154x154" href="~/images/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="192x192" href="~/images/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="512x512" href="~/images/touch-icon-ipad-retina.png">

    @* <link rel="preconnect" href="https://fonts.googleapis.com"> *@
    @* <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> *@
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&Audiowide&family=Balsamiq+Sans:wght@400;700&family=Orbitron:wght@400;700;900&family=Press+Start+2P&display=swap" rel="stylesheet">

    <link href="~/css/site.min.css" rel="stylesheet"/>

    @* <link rel="stylesheet" href="~/css/Site.min.css" asp-append-version="true"/> *@

    <title>@ViewData["Title"] - AtomicGoons</title>
</head>
<body>
<div id="root">

    <header class="header" id="header">
        <nav class="navbar container">
            <a href="#" class="brand">Atomic Goons</a>
            <div class="burger" id="burger">
                <span class="burger-line"></span>
                <span class="burger-line"></span>
                <span class="burger-line"></span>
            </div>
            <div class="menu" id="menu">
                <ul class="menu-inner">
                    <li class="menu-item">
                        <a asp-controller="Home" asp-action="Index" class="menu-link">Home</a>
                    </li>
                    <li class="menu-item">
                        <a asp-controller="Legends" asp-action="Index" class="menu-link">Legends</a>
                    </li>
                    <li class="menu-item">
                        <a asp-controller="AtomicGoons" asp-action="Index" class="menu-link">Play Game</a>
                    </li>
                    <partial name="_LoginPartial"/>
                </ul>
            </div>
            @* <a href="#" class="menu-block">Discover</a> *@
        </nav>
    </header>

    <div class="main">
        @RenderBody()
    </div>
</div>

<script src="~/js/site.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>