@{
    ViewData["Title"] = "Home Page";
}

<section class="section banner banner-section">
    <div class="container">
        <div class="auto-grid">
            <div class="auto-grid-card">
                <div class="auto-grid-card-title">Atomic Goons 1</div>
                <img class="auto-grid-card-image" src="~/images/game-image1.png" alt="atomic goons"/>
            </div>
            <div class="auto-grid-card">
                <div class="auto-grid-card-title">Atomic Goons 2</div>
                <img class="auto-grid-card-image" src="~/images/game-image1.png" alt="atomic goons"/>
            </div>
            <div class="auto-grid-card">
                <div class="auto-grid-card-title">Atomic Goons 3</div>
                <img class="auto-grid-card-image" src="~/images/game-image1.png" alt="atomic goons"/>
            </div>
            <div class="auto-grid-card">
                <div class="auto-grid-card-title">Atomic Goons 4</div>
                <img class="auto-grid-card-image" src="~/images/game-image1.png" alt="atomic goons"/>
            </div>
            <div class="auto-grid-card">
                <div class="auto-grid-card-title">Atomic Goons 5</div>
                <img class="auto-grid-card-image" src="~/images/game-image1.png" alt="atomic goons"/>
            </div>
            <div class="auto-grid-card">
                <div class="auto-grid-card-title">Atomic Goons 6</div>
                <img class="auto-grid-card-image" src="~/images/game-image1.png" alt="atomic goons"/>
            </div>
        </div>
    </div>
</section>