@{
    ViewData["Title"] = "Game";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/game-template.css" asp-append-version="true"/>
    <script src="~/js/game-template/main.js"></script>
</head>
<body>
    <canvas id="canvas1"></canvas>
</body>
</html>