@{
    ViewData["Title"] = "Atomic Goons";
}

<section class="section banner banner-section">
    <div class="container banner-column">
        <img class="banner-image" src="images/hero-page.png" alt="banner">
        <div class="banner-inner align-content-center">
            <h1 class="heading-md">Atoms here,there and everywhere!</h1>
            <p class="paragraph">
                From the far end of the universe to this very place and beyond. Everything you see and feel are atoms at work. Universal building bricks.
                Creator of all life and therefore all love.
            </p>
            <p class="paragraph">
                From time to time,Goon's will rise from it's shadow and create disturbance in our universe.
                These imposters blend in with our beautiful atoms and we need to take them out.
            </p>
            <p class="paragraph">
                Time is critical. Good hunting!
            </p>
            <a asp-controller="AtomicGoons" asp-action="Index" class="btn btn-darken btn-inline">Play</a>
        </div>
    </div>
</section>
