@{
    ViewData["Title"] = "Scratches";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/game-site.css" asp-append-version="true"/>
    <script src="~/js/atomic-goons/scratches.js" defer></script>
</head>
<body style="background: lightblue">
<div class="game-container">
    @* <div style="position: absolute; display: flex; width: 100%; align-items: center; padding: 20px; color: white;">sdfgsdfg</div> *@
    @* <div id="arrow"> *@
    @*     <div class="arrow-up"></div> *@
    @* </div> *@
    
    
    <div id="atomicgoons-canvas-wrapper">
        <canvas id="atomicgoons-canvas"></canvas>
    
        <div id="game-button-row-id" class="game-button-row">
            <button type="button" id="game-button-new-id" class="game-button">New game</button>
            <button type="button" id="game-button-home-id" class="game-button" onclick="history.back()">Home</button>
        </div>
    </div>


</div>
</body>
</html>